<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>HOLA</h1>

 <div class="container mt-4">
        <table class="table">
                <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Turno</th>
                            <th>Zona del cuerpo</th>
                            <th>Descripcion</th>
                            <th>Cliente</th>
                            <th>Tatuador</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                </thead>
                <tbody>
                     <tr th:each="cita : ${cita}">
                                              <td th:text="${cita.Fecha}">
                                              <td th:text="${cita.Turno}">xº
                                              <td th:text="${cita.Descripcion}">
                                              <td th:text="${cita.zonaDelCuerpo}">
                                              <td th:text="${cita.tipo}">
                                              <td th:text="${cita.personal.nombre}">
                                          </tr>
                </tbody>
            </table>

        </div>

</body>
</html>