<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">


    <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">


    <link href="http://fonts.cdnfonts.com/css/with-my-woes" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
     .navbar-brand{
            font-family: "With My Woes", Sans-serif;
            font-size: 25px;
            line-height: 30px;
          }
         table{
            margin-top: 5%;
         }

    </style>

  </head>
  <body>

 <nav class="navbar bg-transparent fixed-top">
       <div class="container-fluid">
         <a class="navbar-brand" href="#">OVEJA NEGRA</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
           <div class="offcanvas-header">
             <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Oveja Negra</h5>
             <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
           </div>
           <div class="offcanvas-body">
             <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
               <li class="nav-item">
                 <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" th:href="@{/cliente}">Registro</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" th:href="@{/chat}">Chat Global</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" th:href="@{/galeria}">Galeria de Tatuajes</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" th:href="@{/auth/cita}">Pedir Cita</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" th:href="@{/public/tienda}">Tienda</a>
               </li>
               <li>
                  <a th:href="@{/estudio}" class="text-white">El Estudio</a>
               </li>


             </ul>
           </div>
         </div>
       </div>
     </nav>


   <div class="container mt-4">
           <table class="table">
                          <tr>
                              <th>Fecha</th>
                              <th>Hora</th>
                              <th>Descripcion</th>
                              <th>Zona del Cuerpo</th>
                              <th>Tamaño</th>
                              <th>Tipo</th>
                              <th>Tatuador</th>
                              <th>Foto Referencia</th>
                              <th>Accion</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="cita : ${cita}">
                              <td th:text="${cita.Fecha}"></td>
                              <td th:text="${cita.Hora}"></td>
                              <td th:text="${cita.Descripcion}"></td>
                              <td th:text="${cita.zonaDelCuerpo}"></td>
                              <td th:text="${cita.tamano}"></td>
                              <td th:text="${cita.Tipo}"></td>
                              <td th:text="${cita.personal.nombre}"></td>
                             <td><img th:src="${cita.Foto}" width="52" height="52" class="rounded-circle my-n1"></td>
                              <td><a th:href="@{/miCita/eliminar/}+${cita.id}" class="btn btn-danger">Eliminar</a></td>
                              <td><a th:href="@{/miCita/actualizar/}+${cita.id}" class="btn btn-warning">Modificar</a></td>
                          </tr>
                          </tbody>
               </table>
           </div>
   <div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/funciones.js"></script>


    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>




  </body>
</html>