<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="navbar2.css">
    <title>Document</title>
    <!--<link href="/css/navbar2.css" rel="stylesheet"/>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

     <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"/>


    <link href="/css/datatables.css" rel="stylesheet"/>


    <script type="text/javascript">

    </script>


    <style>


.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}


    </style>

</head>


<body >
   	<div class="vertical-nav bg-dark" id="sidebar">
               <div class="py-4 px-3 mb-4 bg-dark">
                   <div class="media-body">
                     <h4 class="font-weight-white text-muted mb-0">Panel Administrador</h4>
                   </div>
               </div>

               <p class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

               <ul class="nav flex-column bg-dark mb-0">
                 <li class="nav-item">
                       <a th:href="@{/admin}" class="nav-link text-light font-italic bg-dark">
                         <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                             Home
                     </a>
                 </li>
                 <li class="nav-item">
                       <a th:href="@{/admin/producto/nuevo}"  class="nav-link text-light font-italic">
                         <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                         Crear un nuevo producto
                     </a>
                 </li>
               </ul>

               <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Tablas</p>

                   <ul class="nav flex-column bg-dark mb-0">
                     <li class="nav-item">
                           <a th:href="@{/admin/personal}" class="nav-link text-light font-italic">
                         <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                             Empleados
                         </a>
                     </li>
                     <li class="nav-item">
                           <a th:href="@{/admin/productos}" class="nav-link text-light font-italic">
                         <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                             Productos
                         </a>
                     </li>
                     <li class="nav-item">
                           <a th:href="@{/admin/clientes}" class="nav-link text-light font-italic">
                         <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                             Clientes
                         </a>
                     </li>
                     <li class="nav-item">
                                            <a th:href="@{/admin/compras}" class="nav-link text-light font-italic">
                                          <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                                              Compras
                                          </a>
                                      </li>
                   </ul>
         </div>
   <!-- End vertical navbar -->

   <!-- Page content holder -->
     <div class="page-content p-5" id="content">
           <!-- Toggle button -->

   <!-- Demo content -->
       <h2 class="display-4 text-white">Bootstrap vertical nav</h2>
           <p class="lead text-white mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
           <div class="container-fluid mt-4">
               <div class="container mt-4">
                      <table  id="datatable" class="table table-striped">
                              <thead>
                                      <tr>
                                          <th>Nombre</th>
                                          <th>Apellidos</th>
                                          <th>DNI</th>
                                          <th>Telefono</th>
                                          <th>Turno</th>
                                          <th>Especialidad</th>
                                      </tr>
                              </thead>
                              <tbody>
                                  <tr th:each="personal : ${personals}">
                                      <td th:text="${personal.Nombre}"></td>
                                      <td th:text="${personal.Apellidos}"></td>
                                      <td th:text="${personal.dni}"></td>
                                      <td th:text="${personal.Telefono}"></td>
                                      <td th:text="${personal.Turno}"></td>
                                      <td th:text="${personal.tipoTatuaje.tipo}"></td>
                                  </tr>
                              </tbody>
                          </table>

                      </div>

   <!-- bootstrap5 dataTables js cdn -->
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
      <script>
        $(document).ready(function () {
          $('#datatable').DataTable();
        });
      </script>



    <script>
         const list = document.querySelectorAll('.list');

function activeLink(){
    list.forEach((item) =>
    item.classList.remove('active'));
    this.classList.add('active');
}

list.forEach((item) =>
item.addEventListener('click', activeLink));
    </script>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


    <th:block layout:fragment="script">
    <script src="/js/Datos.js"></script>
    </th:block>



</body>
</html>