<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/css/style.css" rel="stylesheet"/>
	<link href="http://fonts.cdnfonts.com/css/with-my-woes" rel="stylesheet">



	</head>
	<body class="img js-fullheight" >
	<section class="ftco-section">
    		<div class="container">
    			<div class="row justify-content-center">
    				<div class="col-md-6 col-lg-10">
    					<div class="login-wrap p-0">
    		      	<h1 class="mb-4 text-center">REGISTRO</h1>
    		      	<form th:action="@{/cliente}" th:object="${cliente}" method="POST">
    					<div class="form-group2">
    						<input type="text" placeholder="Nombre" class="form-control" id="nombre" th:field="*{nombre}">
    						<input type="text" placeholder="Apellidos" class="form-control" id="apellidos"  th:field="*{apellidos}">
    					</div>
    					<div class="form-wrapper">
    						<input type="text" placeholder="Email Address" class="form-control" id="email" th:field="*{email}">
    					</div>

    					<div class="form-wrapper">
                            <input type="text" placeholder="DNI" class="form-control" id="dni" th:field="*{dni}">
    					</div>

    					<div class="form-wrapper">
                            <input type="text" placeholder="Telefono" class="form-control" id="elinput" th:field="*{telefono}">
    					</div>
    					<div class="form-group">
                            <input id="password-field" type="password" name="password" th:field="*{contrasena}" class="form-control" placeholder="Contraseña" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>

                        <div class="form-group2">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
                        </div>
    					<div class="form-group d-md-flex">
    						<div class="w-100 text-md-center">
    							<a th:href="@{/login}" style="color: #fff">Tengo Cuenta</a>
    						</div>
    					</div>
    				</form>

    		      </div>
    				</div>
    			</div>
    		</div>
    	</section>




	<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script src="/js/popper.js" th:src="@{/js/popper.js}"></script>
    	<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <script src="/js/main.js" th:src="@{/js/main.js}"></script>

	</body>
</html>




